<div class="container">
  <div class="row">
    <div class="col-xs-4" id="sidebar">
      <button ng-click="vm.resetForm()" class="new-note btn btn-default">
        New Note
      </button>
      <ul id="notes">
        <li ng-repeat="note in vm.notes | orderBy: 'updated_at'" ng-click="vm.editNote(note)">
          <div class="note-title">{{ note.title }}</div>
          <div class="note-body">{{ note.body_html }}</div>
        </li>
      </ul>
    </div>
    <main class="col-xs-8" ui-view></main>
  </div>
</div>
